RewriteEngine On

# If request is not already in /dist
RewriteCond %{REQUEST_URI} !^/dist/

# If the requested file or directory does NOT exist in root
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to /dist
RewriteRule ^(.*)$ /dist/$1 [L]
